<div class="previewIndexZone">
    <div class="flex-container">
        <div class="flex-box">
            <div class="previewIndex">
                <h2>Sobre nosotros</h2>
                <p>Somos parte de Young Life Costa Rica, una organización sin fines de lucro.</p>
                <p>Nuestra mision es que todos los jovenes de la provincia de Alajuela tengan la oportunidad de conocer a Jesus</p>
                <p>Estamos en los cantones de Alajuela, Canoas, Carrizal, Barrio San Jose, Desamparados y El Carmen</p>
                <a href="/donar" class="boton">Conocer mas</a>
            </div>
        </div>
        <div class="flex-box">
            <img src="/raqueabarca.github.io/YLU.jpeg" alt="Imagen 1">
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-box">
            <img src="/raqueabarca.github.io/desampa.jpeg" alt="Imagen 1">
        </div>
        <div class="flex-box">
            <div class="previewIndex">
                <h2>Sobre nosotros</h2>
                <p>Nuestra mision es que todos los jovenes de la provincia de Alajuela tengan la oportunidad de conocer a Jesus</p>
                <p>Somos una organizacion sin fines de lucro.</p>
                <p>Estamos en los cantones de Alajuela, Canoas, Carrizal, Barrio San Jose, Desamparados y El Carmen</p>
                <a href="/donar" class="boton">Conocer mas</a>
            </div>
        </div>
    </div>
</div>

<style>
    .previewIndexZone{
        margin: 100px;
    }
	.flex-container {
    display: flex;
    justify-content: center; /* Alinea horizontalmente al centro */
    margin-top: 20px;
    align-items: center
    }

    .flex-box {
        text-align: center;
        padding: 20px;
        margin: 20px;
        max-width: 500px; 
    }

    .previewIndex {
        background: var(--verdeYL); /* Color de fondo del botón */
        box-shadow: 0 2px 8px rgba(var(--black), 55%);
        padding: 20px;
        color: #fff;
        min-width: 300px;
    }

    .boton {
        display: inline-block;
        padding: 15px 30px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        background-color: black;
    }
</style>