---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carusell from '../components/Carusell.astro';
import CuadrosPreviewIndex from '../components/CuadrosPreviewIndex.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="titulopagina">
				<h1>Actividades</h1>
				<div class="previewClubs">
					<div class="cajaPC">
						<div class="textoPC">
							<h2>Club</h2>
							<p>Contamos con reuniones semanales en diferentes partes de Alajuela, estas reuniones les damos el nombre de Club. En un club los jovenes pueden disfrutar, distraerse, socializar y escuchar de Jesus.</p>
							<p>Tenemos club para toda la poblacion de jovenes, pues contamos con nuestros clubes de Capernaum, los cuales estan enfocados a chicos con alguna discapacidad. Ademas de esto, tenemos Vidas Jovenes para madres jovenes y Universidad, para mayores de 18 años.</p>
							<p>Si deseas conocer más, sobre nuestras reuniones, porfavor has click en el siguiente boton:</p>
							<a href="/raqueabarca.github.io/actividades" class="boton">Conocer mas</a>
						</div>
						<div class="imgPC"><img src="/raqueabarca.github.io/desampaAlto.jpeg" alt="Imagen 1"></div>
						
					</div>
				</div>
				<h2>Campamentos</h2>
				<div id="videoCampa">
					<iframe width="960" height="515" src="https://www.youtube.com/embed/Y2AWtfn5wlg?si=SnyKj5ijmFEjrF-F&amp;controls=1&amp;start=1;autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>			</div>
				</div>
				<div class="imgProfile" style="background-image: url(https://lh3.googleusercontent.com/a/ACg8ocKVC8sALEXNdMQJSMehvt6mqg380VdqXFyMozcakRhfZYc=s576-c-no);">

		</main>
		<Footer />
	</body>
</html>

<style>
	#videoCampa{
		display: flex;
		justify-content: center;
	}

	.cajaPC{
		margin: 2em;
		padding: 1.5em;
		box-shadow: 0 2px 8px rgba(var(--black), 55%);
		display: flex;
		align-items: center;
		background-color: var(--verdeYL);
		color: white;
	}

	.imgPC{
		max-width: 500px;
		margin-left: 1em;
	}

	.textoPC h2{
		text-align: left !important;
	}

	.boton {
        display: inline-block;
        padding: 15px 30px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        background-color: rgb(0, 0, 0);
    }
</style>