---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import TestimoniosPreview from '../components/TestimoniosPreview.astro';
import CuadrosPreviewIndex from '../components/CuadrosPreviewIndex.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<img id="YLhero" src="/Inicio.png" alt="Imagen 1">
			<CuadrosPreviewIndex />
			<h1>Testimonios</h1>
			<TestimoniosPreview />
		</main>
		<Footer />
	</body>
</html>

<style>

	#YLhero{
		border-radius: 0%;
		box-shadow: 0 2px 8px rgba(var(--black), 55%);
		width: 100%;
	}
</style>