---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Mapa from '../components/Mapa.astro';
import CuadrosPreviewIndex from '../components/CuadrosPreviewIndex.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Ubicaciones</h1>
			<Mapa />
		</main>
		<Footer />
	</body>
</html>

<style>

	#YLhero{
		border-radius: 0%;
	}
</style>